
/*Search Page Styling */

form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

input[type="text"] {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  width: 400px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #ff1c28;
}

h1{
  text-align: center;
}

/* Search Results Grid */
.results-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #2e2e2e;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.movie-card:hover {
  transform: translateY(-5px);
}


.movie-card img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 40px; 
  overflow: hidden;
}

.movie-card a {
  display: block;
  margin-top: auto;
  color: #4CAF50; 
  text-decoration: none;
}



/* 3. Movie Detail Styles */

.movie-detail {
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
}

.movie-detail h1 {
  color: #e50914;
  margin-bottom: 20px;
}

.movie-detail img {
  max-width: 300px;
  height: auto;
  float: left; /* Image on the left */
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movie-detail p {
  line-height: 1.6;
}

/* Clear float after image */
.movie-detail::after {
  content: "";
  display: table;
  clear: both;
}
